.r1{
height: 600px;
object-fit: cover;
}
img.d-block.w-100.r1 {
    height: 600px;
}
@media (max-width: 480px) {
    .bb {
      font-size: 30px !important;
      font-weight: 400;
     
    }
    .bb1 {
        font-size: 17px !important;
        font-weight: 400;
       
      }
      img.d-block.w-100.r1 {
        height: 400px !important;
    }
  }

  .carousel-control-prev-icon,.carousel-control-next-icon {
    background-image: none;
}

.carousel-indicators [data-bs-target] {
  
  display: none;
}
