.itemt{
    text-align: center;
  
   margin: 0px 190px 0px 140px;
   border-radius: 100%;
   width: 100px;
   align-items: center;
}
.itemt1{
    text-align: center;
  
   margin: 0px 120px 0px 120px;
   /* border-radius: 100%;
   width: 90px; */
   align-items: center;
}
.n9{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
     width: 90% !important;
     gap: 20px;
     padding: 20px 0px 20px 0px;
     margin-left: 30px;
     margin-top: 60px;
     margin-bottom: 60px;
     border: none;
}

@media (max-width: 480px) {
  .bh7{
    display: none !important;
     
}

}