.card4{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: none;
    padding: 0px 0px 10px 0px;

}
.byn{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    padding: 60px 60px 60px 60px;
    border-radius: 10px;
    background-color: white;
}
.m44{
/* background-image: url("./im1.jpg"); */
height: 200px;
}
.m45{
    /* background-image: url("./im1.jpg"); */
    height: 500px;
    border-radius: 40px;
    border: 6px solid blue;
    margin: 0px 0px 80px 0px;
    }

    @media (max-width: 480px) {
        .m45{
            /* background-image: url("./im1.jpg"); */
            height: 300px !important;
            width: 100% !important;
            border-radius: 40px;
            border: 6px solid blue;
            margin: 0px 0px 80px 0px;
            }
            .bs.row {
                display: grid !important;
            }
            .bv{
                padding: 10px !important;
                
            }
            .bv1{
               margin-left: 20px !important;
                
            }
            form.byn.aos-init.aos-animate {
                width: 100% !important;
                margin: 0px !important;
            }
            .byn {
                width: 100% !important;
                margin: 0px !important;
            }
            .bg3 {
                height: 300px !important;
            }
            h1.bcvv {
                font-size: 50px !important;
                color: white !important;
                margin: 0px !important;
                padding: 0px !important;
            }
      }

    .c44{
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    }

    .m89{
        height: 240px;
    }