.pro{
    margin: 170px 0px 0px 0px;
}

.btn58{
    background-color: #ee6430;
    color: white;
    border: none;
    
}

.btn58:hover{
    color: white;
    border: none;
       background-color: #00263B;
        
        }

 .a45{
    color: white;

        }
        
        .price2{
            font-size: 20px;

        }       